.idea/
.vscode/
./.docker/dbdata
/.npm-cache/
./.npm-cache
/.docker/dbdata/auto.cnf
/.docker/dbdata/ca-key.pem
/.docker/dbdata/client-key.pem
/.docker/dbdata/ib_buffer_pool
/.docker/dbdata/ib_logfile0
/.docker/dbdata/ib_logfile1
/.docker/dbdata/ibdata1
/.docker/dbdata/private_key.pem
/.docker/dbdata/server-key.pem
